@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- about section-->
    <div class="container mt-1 pt-1">
        <h1 class="text-center" id="about_title">HEY, ITS ANNA <BR />AND WELCOME TO MY BLOG</h1>
        <div class="row mt-4">
            <div class="col-lg-4 offset-md-1">
                <img src="/images/mike-von-OECfwNARmYM-unsplash.jpg" class="imageAboutPage" alt="">
            </div>

            <div class="col-lg-4 offset-md-1">

                <div class="row mt-3">
                    <p id="about_desc">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </div>

            
        </div>
        </div>
